<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
    </head>
    <body>

        <div id="page">
            <div id="header">
                <a href="/">Sen Book</a>
            </div>
            <div id="content">
                {% block body %}{% end %}
            </div>
            <div id="footer">
                <ul id="footer_list" class="plainlist">
                    <li><a href="http://www.nysenate.gov/">nysenate.gov</a></li>
                    <li><a href="/">legal info</a></li>
                    <li><a href="/">other stuff</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            
        </div>
    </body>
</html>
