<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" ></script>
        <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
    </head>
    <body>
        <div id="header">
            <a href="/" class="title">Sen Book</a>
            <div id="accountbox">
                {% if user == None %}
                    <a href="/login">Log in here</a>
                {% else %}
                    Logged in as {{user}}.<br/>
                    Click to <a href="/logout">log out</a>
                {% end %}
            </div>
            <div class="clear" ></div>
        </div>
        <div id="page">
            <div id="content">
                {% block body %}{% end %}
            </div>
            <div id="footer">
                <ul id="footer_list" class="plainlist">
                    <li><a href="http://www.nysenate.gov/">nysenate.gov</a></li>
                    <li><a href="/">legal info</a></li>
                    <li><a href="/">other stuff</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            
        </div>
    </body>
</html>
