{% extends base.html %}

{% block body %}

    <div id="profile_header">
        <div id="profile_avatar" ></div>
        <div id="profile_overview">
            <div class="profile_name">{{group.name}}</div>
            {% if 'mail' in group.data %}
                <div class="profile_email">Email: <a {{'href="mailto:%s"' % group.mail[0]}}>{{group.mail[0]}}</a></div>
            {% end %}
        </div>
        
        <div class="clear"></div>
    </div>
    
    <div id="profile_content">
        
        <div id="profile_groups">
        
            Members of this group ({{len(group.members)}} total):
            <ul class="profile_list">
            {% for member in group.members %}
                {% if 'uid' in member.data %}
                    <li><a {{'href="/person/%s (%s)"' % (member.name,member.uid)}}>{{member.cn[0]}}</a></li>
                {% else %}
                    <li><a {{'href="/group/%s"' % member.name}}>{{member.name}}</a></li>
                {% end %}
            {% end %}
            </ul>
        </div>
    </div>

{% end %}
