{% extends base.html %}

{% block body %}

    <div id="profile_header">
        <div id="profile_avatar" ></div>
        <div id="profile_overview">
            <div class="profile_name">{{data['displayname'][0]}}</div>
            {% if 'mail' in data %}
                <div class="profile_email">Email: <a {{'href="mailto:%s"' % data['mail'][0]}}>{{data['mail'][0]}}</a></div>
            {% end %}
        </div>
        
        <div class="clear"></div>
    </div>
    
    <div id="profile_content">
        
        <div id="profile_groups">
        
            Members of this group ({{len(data['member'])}} total):
            <ul class="profile_list">
            {% for member in data['member'] %}
                <li><a {{'href="/person/%s"' % getname(member)}}>{{getname(member)}}</a></li>
            {% end %}
            </ul>
        </div>
    </div>

{% end %}
