{% extends base.html %}

{% block body %}
    <div id="profile_header">
        <img id="profile_gmap" src="http://maps.google.com/maps/api/staticmap?maptype=terrain&center=42.75,-76&zoom=5&size=190x170&sensor=false" />
        <div id="profile_avatar" >
            {% if 'avatar' in person.data %}
                <img src="{{static_url(person.data['avatar'])}}" />
            {% end %}
        </div>
        <div id="profile_overview">
            <div class="profile_name">{{person.name}}</div>
            {% if 'title' in person.data %}
                <div class="profile_title">{{person.data['title'][0]}}</div>
            {% end %}
            <br/>
            {% if 'telephonenumber' in person.data %}
                <div class="profile_phone">Phone: {{person.data['telephonenumber'][0]}}</div>
            {% end %}
            {% if 'mail' in person.data %}
                <div class="profile_email">Email:
                    <a {{'href="mailto:%s"' % person.data.get('mail')[0]}}>
                        {{person.data['mail'][0]}}
                    </a>
                </div>
            {% end %}
            {% if ('l' in person.data) and ('st' in person.data) %}
                <div class="profile_location">
                    Location: {{"%s, %s" % (person.data['l'][0],person.data['st'][0])}}
                </div>
            {% end %}
        </div>
        <div class="clear"> </div>
    </div>
    <div class="clear"></div>
    
    {% block contents %}

    <!--<div id="profile_sidebar"></div>-->
    <div id="profile_content">
        {% if 'aboutme' in person.data %}
            <div id="profile_aboutme">
                {{person.data['aboutme'][0]}}
            </div>
        {% end %}
        
        {% if 'projects' in person.data %}
        <div id="profile_projects">
            Redmine Projects:
            <ul class="profile_list">
                    {% for project in person.data['projects'] %}
                    <li>
                        <a {{'href="/project/%s"' % project['name']}} >
                            {{project['name']}}
                        </a> - (<i>{{project['role']}}</i>)
                    </li>
                    {% end %}
            </ul>
        </div>
        {% end %}
        
        {% if 'groups' in person.data %}
        <div id="profile_groups">
            Groups I am part of ({{len(person.data['groups'])}} total):
            <ul class="profile_list">
            {% for cn, info in person.data['groups'] %}
                <li><a {{'href="/group/%s"' % cn[3:]}} >{{info['cn'][0]}}</a><br/>
            {% end %}
            </ul>
        {% end %}
        
        </div>
    </div>
    {% end %}
    
{% end %}
