{% extends base.html %}

{% block body %}
    <div id="profile_header">
        <div id="profile_overview">
            <div class="profile_name">{{project.data['name']}}</div>
                <div>Parent Project - 
                    {% if project.data['parentproject']['name'] %}
                        <a {{'href="/project/%s"' % project.data['parentproject']['name']}}>
                            {{project.data['parentproject']['name']}}
                        </a>
                    {% else %}
                        None
                    {% end %}
                </div>
            <div>Child Projects:
                <ul id="childprojects" class="plainlist">
                    {% if not project.data['childprojects'] %}None{% end %}
                    {% for child in project.data['childprojects'] %}                        
                        <li>|
                            {% if child['name'] != None %}
                                <a {{'href="/project/%s"' % child['name']}}>
                                    {{child['name']}}
                                </a>
                            {% else %}
                                {{child['name']}}
                            {% end %}
                        |</li>
                    {% end %}
                </ul>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
    <div class="clear"></div>
    
    {% block contents %}

    <!--<div id="profile_sidebar"></div>-->
    <div id="profile_content">
        <div id="profile_aboutme">
            {{project.data['description']}}
        </div>
        <div>Members
        {% for member in project.data['members'] %}
            <ul class="plainlist">
                <li>
                    <a {{'href="/person/%s"' % member['name']}}>
                        {{member['name']}}
                    </a>
                </li>
            </ul>
        {% end %}
        </div>
        <div><h2>News!</h2>
        {% for news in project.data['newsitems'] %}
            <div class="newsitem">
                <div class="newstitle">{{news['title']}}</div>
                <div class="newsmeta">
                  <span class="newsauthor">{{news['author']}}</span>
                  <span class="newsstarted">{{news['started'].date()}}</span>
                </div>
                <div class="newsbody">{{news['summary'] if news['summary'] else news['description'] }}</div>
            </div>
        {% end %}
        </div>
    </div>
    
    {% end %}
    
{% end %}
